{% extends 'base.html.twig' %}

{% block title %}New Message{% endblock %}

{% block body %}
    <h1>Create new Message</h1>


    {% if successful is defined %}
        <div>
            <h6>{{ 'Your message sent successfully. Thank for contacting us.' }}</h6>
        </div>
    {% endif %}

    {{ include('message/_form.html.twig') }}

    <a href="{{ path('app_message_index') }}">back to list</a>
{% endblock %}
