{% extends 'base.html.twig' %}

{% block title %}New RatePlan{% endblock %}

{% block body %}
    <h1>Create new RatePlan</h1>

    {{ include('rate_plan/_form.html.twig') }}

    <a href="{{ path('app_rate_plan_index') }}">back to list</a>
{% endblock %}
